* { 
    text-align: inherit;
}
h1 {
    width: 55px;
    height: 16px;
    color: #333333;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    text-transform: uppercase;
    padding: 0px;
}

h2 {
    width: 246px;
    height: 16px;
    color: #999999;
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: 300;
    line-height: 16px;
    text-transform: uppercase;
    padding: 0px;
    
}
h3 {
    width: 283px;
    height: 54px;
    color: #b5000d;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    padding: 9px;
}

h4 {
    width: 283px;
    height: 32px;
    color: #333333;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
}
body {
background-color: #e6e6e6;
        padding-left: 400px;
}
div {
    width: 300px;
    height: 153px;
    box-shadow: 0 1px 1px rgba(153, 153, 153, 0.5);
    border-radius: 0 0 2px 2px;
    background-color: #ffffff;
}
h1,h2 {
    float: left;
}
img,h1 {}